html {
  font-size: 80%;
}

body {
  color: #000;
}

footer {
  margin: 2rem 0;
  border-top: 1px solid #e9e9e9;
  padding-top: 2rem;
}

footer .to-top {
  text-align: right;
  text-decoration: underline;
  font-size: 0.9em;
}

a:link, a:visited {
  color: #2a535e;
}

a:hover, a:focus {
  color: #397081;
}

a:active {
  color: #418da5;
}

.chapter-title {
  cursor: pointer;
}

.mt-1 {
  margin-top: 1em;
}

.book-main {
  font-size: 1.6rem;
}

.book-main .row {
  margin-top: 3em;
}

.book-main .row:first-of-type {
  margin-top: 0;
}

.book-main .column p {
  padding: 1em;
  margin: 0;
  height: 100%;
}

.book-main .text, .legend .text {
  background-color: #e9e9e9;
}

.book-main .text .page-num {
  background-color: #d1ecf1;
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius: 0.3em;
  font-size: 0.8em;
  margin-right: 0.5em;
  cursor: pointer;
}

.book-main .text .page-num:hover, .book-main .text .page-num:focus {
  background-color: #bee0e9;
}

.book-main .explanation {
  margin-top: 1em;
  font-size: 0.8em;
  color: #606c76;
  display: block;
  font-style: italic;
}

.well-wrapper {
  font-size: 0.8em;
  padding: 1em;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  margin-bottom: 2em;
}

.well-wrapper ul {
  margin: 0;
}

.well-wrapper li {
  list-style-type: none;
  font-size: 1em;
}

.well-wrapper li:last-of-type {
  margin-bottom: 0;
}

.legend .legend-item {
  display: inline-block;
  padding: 10px;
  margin-right: 5px;
}

.legend .comment, .book-main .comment {
  background-color: #cce5ff;
}

.legend .page-num {
  background-color: #d1ecf1;
}

.legend .good, .book-main .good {
  background-color: #d4edda;
}

.legend .bad, .book-main .bad {
  background-color: #f8d7da;
}

.legend .meh, .book-main .meh {
  background-color: #fff3cd;
}

@media (max-width: 40.1rem) {
  .row .column.column-60 {
    flex: 0 0 auto;
    max-width: 100%;
  }

  .book-main .column:nth-child(2) {
    margin-top: 1em;
  }
}
