{{ define "title" }}{{ .Title }} &ndash; {{ .Site.Title }}{{ end }}
{{ define "tw_title" }}{{ .Title }} &ndash; {{ .Site.Title }}{{ end }}
{{ define "fb_title" }}{{ .Title }} &ndash; {{ .Site.Title }}{{ end }}
{{ define "desc" }}{{ .Params.meta_desc }}{{ end }}
{{ define "tw_desc" }}{{ .Params.meta_desc }}{{ end }}
{{ define "fb_desc" }}{{ .Params.meta_desc }}{{ end }}

{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ partial "main/legend.html" . }}

  {{ .Content }}

  <p><small>{{ .Params.meta_desc }}</small></p>
{{ end }}
