@media (min-width: 40rem) {
  .row {
    flex-direction: row;
    margin-left: -1.0rem;
    width: calc(100% + 2.0rem);
  }
  .row .column {
    margin-bottom: inherit;
    padding: 0 1.0rem;
  }
}

@media (max-width: 119.9rem) {
  .row .column.column-60 {
    flex: 0 0 auto;
    max-width: 100%;
    margin-top: -1.3em;
  }
  .book-main .row {
    flex-direction: column;
  }
  .book-main .column .text {
    padding-bottom: 3rem;
  }
}

@media (max-width: 50rem) {
  html {
    font-size: 70%;
  }
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.8rem;
  }

  .main-menu {
    margin: 1rem 0 4rem 0;
  }
  .main-menu .menu-toggler {
    display: inline-block;
  }
  .main-menu > ul {
    display: none;
    padding: 0 2rem;
    box-sizing: border-box;
    margin-top: 2rem;
  }
  .main-menu > ul.visible {
    display: block;
  }
  .main-menu > ul li ul {
    visibility: visible;
    opacity: 1;
    position: static;
    transform: none;
    transition: none;
    min-width: 100%;
  }
  .main-menu > ul li {
    border-bottom: 0 none;
    position: static;
    display: block;
    margin: 0;
    text-align: center;
  }
  .main-menu > ul > li {
    border-bottom: 1px solid #000;
  }
  .main-menu > ul > li a {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .main-menu > ul > li.has-children::before {
    border: 0 none;
  }
  .main-menu ul li a {
    display: block;
  }
  .main-menu > ul li:hover, .main-menu > ul li:focus,
  .main-menu > ul li a:hover, .main-menu > ul li a:focus {
    background-color: #e9e9e9;
  }

  .index-wrapper .index {
    flex-direction: column;
  }
}

@media (max-width: 40.1rem) {
  .age-check .age-check-inner {
    flex-direction: row;
  }
}
