<footer>
  <div class="row">
    <div class="column column-90">
      "Гарри и вагон косяков". 18+.
    </div>
    <div class="column column-10 to-top">
      <a class="top-top-link" href="#">В начало</a>
    </div>
  </div>

  <div class="mt-05 row">
    <div class="column">
      <small>
        Контент носит исключительно развлекательный (юмористический) характер. Представленное мнение является субъективным и не преследует цели кого-либо оскорбить или обидеть.
        Все права на оригинальный текст принадлежат изначальному правообладателю.
        Цитирование текста книг минимально и производится только в целях комментирования, критики и обсуждения.
        <strong>
          Любое употребление наркотических средств запрещено законодательством Латвийской Республики (как и многих других стран &mdash; к примеру, Российской Федерации) и наносит вред Вашему здоровью.
        </strong>
        Не забывайте также, что алкоголь, курение и мат &mdash;
        это очень вредно и плохо.
      </small>
    </div>
  </div>
</footer>
