<footer>
  <section class="row">
    <div class="column">
      "Гарри и вагон косяков". 18+.
    </div>
    <div class="column to-top">
      <a href="#">В начало страницы</a>
    </div>
  </section>
  <br>
  <small>
    Контент носит исключительно развлекательный (юмористический) характер. Представленное мнение является субъективным и не преследует цель кого-либо оскорбить или обидеть.
    Все права на оригинальный текст принадлежат изначальному правообладателю.
    Цитирование текста книг минимально и производится только в целях комментирования, критики и обсуждения.
  </small>
</footer>
