<a href="/">
  <picture>
    <source media="(max-width:50rem)" srcset="/banner_mobile.webp" style="width: 100%; height: auto;" alt="Гарри и вагон косяков">
    <img src="/banner.webp" alt="Гарри и вагон косяков" width="100%" height="auto">
  </picture>
</a>

{{ $currentPage := . }}

<nav class="main-menu js-menu">
  <a href="#" class="menu-toggler js-menu-toggler" data-target=".parent-menu" aria-label="Выберите книгу, о грехах которой вы хотите почитать">
    <span></span>
    <span></span>
    <span></span>
  </a>

  <ul class="parent-menu">
    {{ range .Site.Menus.main.ByWeight }}
      <li class="{{ if (eq $currentPage.RelPermalink .URL) }} is-active{{ end }} {{if .HasChildren}} has-children {{end}}">
        <a href="{{ .URL }}">
          {{ .Pre }}
          {{ .Name }}
        </a>

        {{ if .HasChildren }}
          <ul class="dropdown">
            {{ range .Children }}
              <li class="{{ if (eq $currentPage.RelPermalink .URL) }} is-active{{ end }}">
                <a href="{{ .URL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </li>
    {{ end }}
  </ul>
</nav>