<a href="/"><img src="/banner.jpg"></a>

{{ $currentPage := . }}

<nav class="main-menu js-menu">
  <a href="#" class="menu-toggler js-menu-toggler" data-target=".parent-menu">
    <span></span>
    <span></span>
    <span></span>
  </a>

  <ul class="parent-menu">
    {{ range .Site.Menus.main.ByWeight }}
      <li class="{{ if (eq $currentPage.RelPermalink .URL) }} is-active{{ end }} {{if .HasChildren}} has-children {{end}}">
        <a href="{{ .URL }}">
          {{ .Pre }}
          {{ .Name }}
        </a>

        {{ if .HasChildren }}
          <ul class="dropdown">
            {{ range .Children }}
              <li class="{{ if (eq $currentPage.RelPermalink .URL) }} is-active{{ end }}">
                <a href="{{ .URL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </li>
    {{ end }}
  </ul>
</nav>
